<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lillian Ng" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>

  </head>

  <body>
<a name="#top"></a>
<nav>

     <div class="twelve columns header_nav">
     <div class="row">

        <ul id="menu-header" class="nav-bar horizontal">

         <li class="active"><a href="index.html">Home</a></li>

          <li class=""><a href="#current">Current Activities</a></li>
          <li class=""><a href="#aboutme">About Me</a></li>
          <li class=""><a href="#projects">Projects</a></li>
          <li class=""><a href="#contact">Contact</a></li>

        </ul>

        <script type="text/javascript">
         //<![CDATA[
         $('ul#menu-header').nav-bar();
          //]]>
        </script>

      </div>
      </div>

</nav>


    <%= yield %>
  </body>
</html>
