<!-- ######################## Header ######################## -->

        <header>
              <h1 class="heading_supersize">Lillian Ng</h1>
              <h2 class="welcome_text">Web developer in Seattle, WA</h2>
        </header>


<!-- ######################## Section ######################## -->

<section class="section_dark">

      <h2 style="text-align:center"><a name="current"></a>Current Activities</h2>

      <div class="row">

          <article class="six columns">
                <div class="panel radius">
                    <h3 style="text-align:center">Learning Ruby on Rails</h3>
                  <%= image_tag "codefellows.png", alt: "Code Fellows" %>
                  <p class="text-left">Becoming a Ruby on Rails web developer in 8 weeks. It can be done.</p>
                  <div class="nice round progress alert small-12">
                  <span class="meter" style="width: 12%"></span></div>
                  <a href="http://www.codefellows.org" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>


          <article class="six columns">
                <div class="panel radius">
                    <h3 style="text-align:center">Chairman</h3>
                      <center><%= image_tag "aoefoundation.png", alt: "A.O.E. National Foundation" %></center>
                  <p class="text-left">A.O.E. National Foundation is a 501(c)(3) non-profit promoting women in engineering and technical science through scholarship and grants programs.</p>
                  <a href="http://www.aoefoundation.org" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>

      </div>


</section>

<!-- ######################## Section ######################## -->

   <section class="section_light">

        <div class="row">

         <div class="twelve columns">

            <h3 style="text-align:center"><a name="aboutme"></a>About Me</h3>

            <p class="text-left">I'm a sharp and ambitious problem solver seeking software development opportunities in Seattle, WA. I want to use my talent for understanding technology and passion for invoking positive change to build software that will efficiently connect people with their goals.</p>
            <p class="text-left">My work experience includes mathematical modeling and data analysis using MATLAB and working on Java web applications. The idea of identifying objects and things in images amuses me (see Masters...). I was especially attracted to Ruby on Rails because of the ability to rapidly prototype ideas.</p>
            <p class="text-left">Some of my hobbies include CrossFit, Ultimate frisbee, and rock climbing. One of my former hobbies was building websites, but now I am pursing this professionally.</p>
            <p class="text-left">I am from Maryland and have lived in Virginia and New York City before relocating to Seattle in 2013.</p>

         </div>

        </div>

    </section>

<!-- ######################## Section ######################## -->

   <section  class="section_dark">

      <div class="row">

      <h2><a name="projects"></a>Projects</h2>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>


      </div>

    </section>


<!-- ######################## Section ######################## -->

    <section class="section_light">

          <div class="twelve columns">
            <h3 style="text-align:center"><a name="connect"></a>Connect</h3>
            <p class="text-center">
              <a href="http://twitter.com/Lillian_Ng" class="lsf" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a>
              <a href="http://github.com/orangeninjamidget" class="lsf" style="font-size:16px; margin-right:15px" title="github">Github</a>
              <a href="http://linkedin/in/lilliankng" class="lsf" style="font-size:16px; margin-right:15px" title="linkedin">LinkedIn</a>
            </p>
          </div>

    </section>

<!-- ######################## Footer ######################## -->

<footer>

      <div class="row">

          <div class="twelve columns footer">
            Copyright &copy; 2014. Lillian Ng
          </div>

      </div>

</footer>
