<!-- ######################## Header ######################## -->

        <header>
              <h1 class="heading_supersize">Lillian Ng</h1>
              <h2 class="welcome_text">problem solver. web developer. engineer.</h2>
        </header>


<!-- ######################## Section ######################## -->

<section class="section_dark">

      <h2 style="text-align:center"><a name="current"></a>Current Activities</h2>

      <div class="row">

          <article class="six columns">
                <div class="panel radius">
                    <h3 style="text-align:center">Learning Ruby on Rails</h3>
                  <%= image_tag "codefellows.png", alt: "Code Fellows", align: :center %>
                  <p class="text-left">Becoming a Ruby on Rails web developer in 8 weeks. It can be done.</p>
                  <div class="nice round progress alert small-12">
                  <span class="meter" style="width: 57%"></span></div>
                  <a href="http://www.codefellows.org" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>


          <article class="six columns">
                <div class="panel radius">
                    <h3 style="text-align:center">Chairman</h3>
                      <center><%= image_tag "aoefoundation.png", alt: "A.O.E. National Foundation", align: :center %></center>
                  <p class="text-left">A.O.E. National Foundation is a 501(c)(3) non-profit promoting women in engineering and technical science through scholarship and grants programs.</p>
                  <a href="http://www.aoefoundation.org" class="button secondary small radius">Learn More &raquo;</a>
                </div>
          </article>

      </div>


</section>

<!-- ######################## Section ######################## -->

   <section class="section_light">

        <div class="row">

         <div class="twelve columns">

            <h3 style="text-align:center"><a name="aboutme"></a>About Me</h3>

            <p class="text-left">Motivation and Goals: I'm a sharp and ambitious problem solver seeking software development opportunities in Seattle, WA. I want to use my talent for understanding technology and passion for invoking positive change to build software that will efficiently connect people with their goals. I was especially attracted to Ruby on Rails because of the ability to rapidly prototype ideas.</p>

            <p class="text-left">Credentials: My formal training is in electrical engineering. My work experience includes mathematical modeling and data analysis using MATLAB and working on Java web applications. I have also examined patent applications in the area of computer graphics. The idea of identifying objects and things in images amuses me (see Masters degree).</p>

            <p class="text-left">Personal: Some of my hobbies include CrossFit, Ultimate frisbee, and rock climbing. I enjoy helping people, which is why I volunteer for a non-profit. One of my former hobbies was building websites, but now I am pursing this professionally. I am originally from Maryland and have lived in Virginia (Go Hokies!) and New York City (grad school) before relocating to Seattle, WA in 2013.</p>

         </div>

        </div>

    </section>

<!-- ######################## Section ######################## -->

   <section  class="section_dark">

      <div class="row">

      <h2><a name="projects"></a>Projects</h2>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>


      </div>

    </section>
