<!-- ######################## Header ######################## -->

        <header>
              <h1 class="heading_supersize">Lillian Ng</h1>
              <h2 class="welcome_text">Web developer in Seattle, WA</h2>
        </header>


<!-- ######################## Section ######################## -->

<section class="section_dark">

      <h2 style="text-align:center"><a name="current"></a>Current Activities</h2>

      <div class="row">

          <article class="six columns">
                <div class="panel">
                    <h3 style="text-align:center">Learning Ruby on Rails</h3>
                  <%= image_tag "codefellows.png" %>
                  <p>Bootcamp style coding classes</p>
                </div>
          </article>


          <article class="six columns">
                <div class="panel">
                    <h3 style="text-align:center">Chairman</h3>
                  <%= image_tag "aoefoundation.jpeg" %>
                  <p>501(c)(3) non-profit promoting women in engineering and technical science</p>
                </div>
          </article>

      </div>


</section>

<!-- ######################## Section ######################## -->

   <section class="section_light">

        <div class="row">

         <div class="twelve columns">

            <h3 style="text-align:center"><a name="aboutme"></a>About Me</h3>

            <p>I'm a sharp and ambitious problem solver seeking software development opportunities in Seattle, WA. I want to use my talent for understanding technology and passion for invoking positive change to build software that will efficiently connect people with their goals.</p>
            <p>Experience with software development, image processing, signal processing, data analysis, medical imaging, graphical user interfaces, front and back end website design, and patent examining.</p>
            <p>Some of my hobbies include CrossFit, Ultimate frisbee, and rock climbing.</p>
            <p>I am originally from Maryland and recently moved to Seattle.</p>

         </div>

        </div>

    </section>

<!-- ######################## Section ######################## -->

   <section  class="section_dark">

      <div class="row">

      <h2><a name="projects"></a>Projects</h2>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>

          <div class="two columns">
          <a href="#" class="th"><%= image_tag "thumb1.jpg" %></a>
          </div>


      </div>

    </section>


<!-- ######################## Section ######################## -->

    <section class="section_light">

          <div class="twelve columns">
            <h3 style="text-align:center"><a name="connect"></a>Connect</h3>
          </div>

          <div class="twelve columns">
              <a href="http://twitter.com/Lillian_Ng" class="lsf" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a>
              <a href="http://github.com/orangeninjamidget" class="lsf" style="font-size:16px; margin-right:15px" title="github">Github</a>
              <a href="http://linkedin/in/lilliankng" class="lsf" style="font-size:16px; margin-right:15px" title="linkedin">LinkedIn</a>
          </div>

    </section>

<!-- ######################## Footer ######################## -->

<footer>

      <div class="row">

          <div class="twelve columns footer">
            Copyright &copy; 2014. Lillian Ng
          </div>

      </div>

</footer>
