<%= render 'layouts/sectionstart' %>

  <h3><%= @project.name %></h3>

  <p>Technologies used: <%= @project.technologies_used %></p>

  <p>Description: <%= @project.description %></p>

  <h4>Comments</h4>
  <table>
    <%= render @comments %>
  </table>
  <%= render "comments/new", object: @comment %>

  <%= link_to 'Back to Portfolio', projects_path %>

<%= render 'layouts/sectionend' %>
