<%= render 'layouts/sectionstart' %>

  <h3><%= @project.name %></h3>

  <p>Technologies used: <%= @project.technologies_used %></p>

  <p>Description: <%= @project.description %></p>

  <%= link_to 'Back to Portfolio', projects_path %>

<%= render 'layouts/sectionend' %>
