
<%= render 'layouts/sectionstart' %>

      <%= link_to 'New Post', new_post_path if current_user.present? %>

      <h3>Blog Posts</h3>

      <% @posts.each do |post| %>
        <h4><%= link_to post.title, post %></h4>
        <%= link_to 'Edit', edit_post_path(post) if policy(post).edit? %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if policy(post).destroy? %>

        <p><%= l post.created_at %>
        <p><%= post.body %></p>
      <% end %>

<%= render 'layouts/sectionend' %>
