<section class="section_main">
  <div class="row">
    <div class="twelve columns">

      <p id="notice"><%= notice %></p>

      <h1><%= @post.title %></h1>

      <p id="author">
        <strong>By:</strong> <%= @post.author.email %>
      </p>

      <% if current_user.present? %>
        <p id="status">
          <strong>Status:</strong> <%= @post.published? ? "Published" : "Unpublished" %>
        </p>
      <% end %>

      <p>
        <%= @post.body %>
      </p>

      <h3>Comments</h3>
      <table>
        <%= render @comments %>
      </table>
      <%= render "comments/new", object: @comment %>

      <%= link_to 'Edit', edit_post_path(@post) %> |
      <%= link_to 'Back', posts_path %>

    </div>
  </div>
</section>
