<%= render 'layouts/sectionstart' %>

      <h3><%= @post.title %></h3>

      <p id="author">
        <strong>By:</strong> <%= @post.author.email %>
      </p>

      <% if policy(@post).create? %>
        <p id="status">
          <strong>Status:</strong> <%= @post.published? ? "Published" : "Unpublished" %>
        </p>
      <% end %>

      <p>
        <%= @post.body %>
      </p>

      <%= link_to 'Edit', edit_post_path(@post) if policy(@post).update? %>

      <h4>Comments</h4>
      <table>
        <%= render @comments %>
      </table>
      <%= render "comments/new", object: @comment %>

      <%= link_to 'Back to Blog', posts_path %>
<%= render 'layouts/sectionend' %>
