<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Lillian Ng" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application" %>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Playfair+Display:400italic' rel='stylesheet' type='text/css' />

  </head>

  <body>
<a name="#top"></a>

<%= render 'navbar' %>

  <% flash.each do |key, value| %>
    <div class="alert-box round <%= flash_class(key) %>">
      <%= value %>
    </div>
  <% end %>

  <% if flash.empty? == 0 || notice.nil? == 0 || alert.nil? == 0 %>
    <section class="section_light">
      <div class="twelve columns">

        <% if notice.nil? == 0 %>
          <p class="notice"><%= notice %></p>
        <% end %>
        <% if alert.nil? == 0 %>
          <p class="alert"><%= alert %></p>
        <% end %>
      </div>
    </section>
  <% end %>



    <%= yield %>

<!-- ######################## Section ######################## -->


          <div class="twelve columns">
            <h3 style="text-align:center"><a name="connect"></a>Connect</h3>
            <p class="text-center">
              <a href="http://twitter.com/Lillian_Ng" class="lsf" style="font-size:16px; margin-right:15px" title="twitter">Twitter</a>
              <a href="http://github.com/orangeninjamidget" class="lsf" style="font-size:16px; margin-right:15px" title="github">Github</a>
              <a href="http://linkedin/in/lilliankng" class="lsf" style="font-size:16px; margin-right:15px" title="linkedin">LinkedIn</a>
            </p>
          </div>



<!-- ######################## Footer ######################## -->

<footer>

      <div class="row">

          <div class="twelve columns footer">
            Copyright &copy; 2014. Lillian Ng
          </div>



      </div>

</footer>

<script src="../../assets/foundation.min.js"></script>

  </body>
</html>
